<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
   <display-name></display-name>
   
  <servlet>
    <servlet-name>QuerryAdvise</servlet-name>
    <servlet-class>com.jucaipen.base.QuerryAdvise</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HotNews</servlet-name>
    <servlet-class>com.jucaipen.main.index.HotNews</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VideoList</servlet-name>
    <servlet-class>com.jucaipen.main.video.VideoList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FamousTeacher</servlet-name>
    <servlet-class>com.jucaipen.main.index.QuerryTeacher</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuerryVideType</servlet-name>
    <servlet-class>com.jucaipen.main.video.QuerryVideClass</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VideoResource</servlet-name>
    <servlet-class>com.jucaipen.main.video.VideoResource</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TeacherIdea</servlet-name>
    <servlet-class>com.jucaipen.main.index.TeacherIdea</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Question</servlet-name>
    <servlet-class>com.jucaipen.main.index.Question</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LiveList</servlet-name>
    <servlet-class>com.jucaipen.main.video.LiveList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SchoolVideoList</servlet-name>
    <servlet-class>com.jucaipen.main.video.SchoolVideoList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuerryAskType</servlet-name>
    <servlet-class>com.jucaipen.main.index.QuerryAskType</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NewsDetail</servlet-name>
    <servlet-class>com.jucaipen.main.index.NewsDetail</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RelateNews</servlet-name>
    <servlet-class>com.jucaipen.main.index.RelateNews</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuerryComments</servlet-name>
    <servlet-class>com.jucaipen.main.index.QuerryComments</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserInfo</servlet-name>
    <servlet-class>com.jucaipen.main.my.UserInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuerryProvince</servlet-name>
    <servlet-class>com.jucaipen.base.QuerryProvince</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuerryCity</servlet-name>
    <servlet-class>com.jucaipen.base.QuerryCity</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuerryArea</servlet-name>
    <servlet-class>com.jucaipen.base.QuerryArea</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuerryExpressType</servlet-name>
    <servlet-class>com.jucaipen.base.QuerryExpressType</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuerryExpressInfo</servlet-name>
    <servlet-class>com.jucaipen.base.QuerryExpressInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DownFile</servlet-name>
    <servlet-class>com.jucaipen.base.DownFile</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckMobileCode</servlet-name>
    <servlet-class>com.jucaipen.base.CheckMobileCode</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SendMobileCode</servlet-name>
    <servlet-class>com.jucaipen.base.SendMobileCode</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateVersion</servlet-name>
    <servlet-class>com.jucaipen.base.UpdateVersion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadUserLogo</servlet-name>
    <servlet-class>com.jucaipen.main.user.UploadUserLogo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CompleteInfo</servlet-name>
    <servlet-class>com.jucaipen.main.user.CompleteInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.jucaipen.main.user.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdatePhone</servlet-name>
    <servlet-class>com.jucaipen.main.user.UpdatePhone</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Regin</servlet-name>
    <servlet-class>com.jucaipen.main.user.Regin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OtherAccountLogin</servlet-name>
    <servlet-class>com.jucaipen.main.user.OtherAccountLogin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OtherAccountList</servlet-name>
    <servlet-class>com.jucaipen.main.my.OtherAccountList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CollectNews</servlet-name>
    <servlet-class>com.jucaipen.main.user.CollectNews</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuerryAttention</servlet-name>
    <servlet-class>com.jucaipen.main.index.QuerryAttention</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TeacherAttention</servlet-name>
    <servlet-class>com.jucaipen.main.user.Attention</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuerryGuest</servlet-name>
    <servlet-class>com.jucaipen.main.play.QuerryGuest</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PlayComment</servlet-name>
    <servlet-class>com.jucaipen.main.play.PlayComment</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuerryRewarder</servlet-name>
    <servlet-class>com.jucaipen.main.index.QuerryRewarder</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddReward</servlet-name>
    <servlet-class>com.jucaipen.main.user.AddReward</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LatestList</servlet-name>
    <servlet-class>com.jucaipen.main.live.LatestList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AskQuestion</servlet-name>
    <servlet-class>com.jucaipen.main.user.AskQuestion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddRemark</servlet-name>
    <servlet-class>com.jucaipen.main.user.AddRemark</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>com.jucaipen.main.user.ChangePassword</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SendEmail</servlet-name>
    <servlet-class>com.jucaipen.base.SendEmail</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GiftShop</servlet-name>
    <servlet-class>com.jucaipen.base.GiftShop</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuerryGiftType</servlet-name>
    <servlet-class>com.jucaipen.base.QuerryGiftType</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MyInvite</servlet-name>
    <servlet-class>com.jucaipen.main.my.MyInvite</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuerryMyGift</servlet-name>
    <servlet-class>com.jucaipen.main.my.QuerryMyGift</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MyGiftRecoder</servlet-name>
    <servlet-class>com.jucaipen.main.my.MyGiftRecoder</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuerryPosition</servlet-name>
    <servlet-class>com.jucaipen.base.QuerryPosition</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuerryInvestType</servlet-name>
    <servlet-class>com.jucaipen.base.QuerryInvestType</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuerryMyCollect</servlet-name>
    <servlet-class>com.jucaipen.main.my.QuerryMyCollect</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MyAttention</servlet-name>
    <servlet-class>com.jucaipen.main.my.MyAttention</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MyGuardian</servlet-name>
    <servlet-class>com.jucaipen.main.my.MyGuardian</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuerryAccountDetail</servlet-name>
    <servlet-class>com.jucaipen.main.my.QuerryAccountDetail</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangePhone</servlet-name>
    <servlet-class>com.jucaipen.main.user.ChangePhone</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuerryMyOrder</servlet-name>
    <servlet-class>com.jucaipen.main.my.QuerryMyOrder</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BaseKnowType</servlet-name>
    <servlet-class>com.jucaipen.main.index.school.BaseKnowType</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FamousDetailInfo</servlet-name>
    <servlet-class>com.jucaipen.main.index.famous.FamousDetailInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>KnowledgeDetaile</servlet-name>
    <servlet-class>com.jucaipen.main.index.school.KnowledgeDetaile</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuerryTeacherIdea</servlet-name>
    <servlet-class>com.jucaipen.main.index.famous.QuerryTeacherIdea</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AnswerDetails</servlet-name>
    <servlet-class>com.jucaipen.main.index.famous.AnswerDetails</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TxtDetails</servlet-name>
    <servlet-class>com.jucaipen.main.index.famous.TxtDetails</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuerryKnowList</servlet-name>
    <servlet-class>com.jucaipen.main.index.school.QuerryKnowList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuerryMyBank</servlet-name>
    <servlet-class>com.jucaipen.main.my.QuerryMyBank</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BindBank</servlet-name>
    <servlet-class>com.jucaipen.main.user.BindBank</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ActiveList</servlet-name>
    <servlet-class>com.jucaipen.main.live.ActiveList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuerryBankList</servlet-name>
    <servlet-class>com.jucaipen.base.QuerryBankList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuerryCertification</servlet-name>
    <servlet-class>com.jucaipen.base.QuerryCertification</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SignIn</servlet-name>
    <servlet-class>com.jucaipen.main.user.SignIn</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuerryMySignIn</servlet-name>
    <servlet-class>com.jucaipen.main.my.QuerryMySignIn</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SendPresent</servlet-name>
    <servlet-class>com.jucaipen.main.user.SendPresent</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Recharge</servlet-name>
    <servlet-class>com.jucaipen.main.user.Recharge</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OpenGurdian</servlet-name>
    <servlet-class>com.jucaipen.main.user.OpenGurdian</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SendApply</servlet-name>
    <servlet-class>com.jucaipen.main.user.SendApply</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Report</servlet-name>
    <servlet-class>com.jucaipen.main.user.Report</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuerryTactics</servlet-name>
    <servlet-class>com.jucaipen.main.index.famous.QuerryTactics</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderTactics</servlet-name>
    <servlet-class>com.jucaipen.main.user.OrderTactics</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TestOnLine</servlet-name>
    <servlet-class>com.jucaipen.test.TestOnLine</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FaceUpLoad</servlet-name>
    <servlet-class>com.jucaipen.main.user.FaceUpLoad</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PurchGift</servlet-name>
    <servlet-class>com.jucaipen.main.user.PurchGift</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuerryVideoType</servlet-name>
    <servlet-class>com.jucaipen.main.video.QuerryVideoType</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuerryVideoTeacher</servlet-name>
    <servlet-class>com.jucaipen.main.video.QuerryVideoTeacher</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuerryVideoList</servlet-name>
    <servlet-class>com.jucaipen.main.video.QuerryVideoList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RelateVideo</servlet-name>
    <servlet-class>com.jucaipen.main.video.RelateVideo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuerryCurrentStudio</servlet-name>
    <servlet-class>com.jucaipen.main.play.QuerryCurrentStudio</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuerryTodayStusio</servlet-name>
    <servlet-class>com.jucaipen.main.play.QuerryTodayStusio</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuerryRebate</servlet-name>
    <servlet-class>com.jucaipen.main.my.QuerryRebate</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuerryMyAsk</servlet-name>
    <servlet-class>com.jucaipen.main.my.QuerryMyAsk</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MyChargeRecoder</servlet-name>
    <servlet-class>com.jucaipen.main.my.MyChargeRecoder</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserBaseInfo</servlet-name>
    <servlet-class>com.jucaipen.main.my.UserBaseInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuerryTeacherInfo</servlet-name>
    <servlet-class>com.jucaipen.main.index.famous.QuerryBaseTeacherInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuerryMySale</servlet-name>
    <servlet-class>com.jucaipen.main.my.QuerryMySale</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SolutionDish</servlet-name>
    <servlet-class>com.jucaipen.main.index.famous.SolutionDish</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LastPlay</servlet-name>
    <servlet-class>com.jucaipen.main.play.LastPlay</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FansList</servlet-name>
    <servlet-class>com.jucaipen.main.play.FansList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AnswerList</servlet-name>
    <servlet-class>com.jucaipen.main.index.famous.AnswerList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LiveChat</servlet-name>
    <servlet-class>com.jucaipen.main.live.LiveChat</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TxtChat</servlet-name>
    <servlet-class>com.jucaipen.main.live.TxtChat</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Encourage</servlet-name>
    <servlet-class>com.jucaipen.main.play.Encourage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuerryIsCollect</servlet-name>
    <servlet-class>com.jucaipen.main.index.QuerryIsCollect</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StudioChat</servlet-name>
    <servlet-class>com.jucaipen.main.live.StudioChat</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuerryIsGradian</servlet-name>
    <servlet-class>com.jucaipen.main.my.QuerryIsGradian</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BindOtherAccount</servlet-name>
    <servlet-class>com.jucaipen.main.user.BindOtherAccount</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadApk</servlet-name>
    <servlet-class>com.jucaipen.base.UploadApk</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServer</servlet-name>
    <servlet-class>com.jucaipen.manager.LoginServer</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WebPush</servlet-name>
    <servlet-class>com.jucaipen.manager.WebPush</servlet-class>
  </servlet>








  <servlet-mapping>
    <servlet-name>QuerryAdvise</servlet-name>
    <url-pattern>/jucaipen/getadvise</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HotNews</servlet-name>
    <url-pattern>/jucaipen/gethotnews</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VideoList</servlet-name>
    <url-pattern>/jucaipen/getvideolist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FamousTeacher</servlet-name>
    <url-pattern>/jucaipen/getfamous</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuerryVideType</servlet-name>
    <url-pattern>/jucaipen/getvideoclass</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VideoResource</servlet-name>
    <url-pattern>/jucaipen/getvideoresource</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeacherIdea</servlet-name>
    <url-pattern>/jucaipen/getidealist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Question</servlet-name>
    <url-pattern>/jucaipen/getquestion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LiveList</servlet-name>
    <url-pattern>/jucaipen/getlivelist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SchoolVideoList</servlet-name>
    <url-pattern>/jucaipen/getteachlist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuerryAskType</servlet-name>
    <url-pattern>/jucaipen/getasktype</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewsDetail</servlet-name>
    <url-pattern>/jucaipen/getnewsdetail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RelateNews</servlet-name>
    <url-pattern>/jucaipen/getrelatenews</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuerryComments</servlet-name>
    <url-pattern>/jucaipen/getlogcomments</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserInfo</servlet-name>
    <url-pattern>/jucaipen/getuserinfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuerryProvince</servlet-name>
    <url-pattern>/jucaipen/getprovince</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuerryCity</servlet-name>
    <url-pattern>/jucaipen/getcity</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuerryArea</servlet-name>
    <url-pattern>/jucaipen/getarea</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuerryExpressType</servlet-name>
    <url-pattern>/jucaipen/getexpresstype</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuerryExpressInfo</servlet-name>
    <url-pattern>/jucaipen/getexpressinfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownFile</servlet-name>
    <url-pattern>/jucaipen/download</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckMobileCode</servlet-name>
    <url-pattern>/jucaipen/checkmobile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SendMobileCode</servlet-name>
    <url-pattern>/jucaipen/sendmobile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateVersion</servlet-name>
    <url-pattern>/jucaipen/updateversion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadUserLogo</servlet-name>
    <url-pattern>/jucaipen/uploadface</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CompleteInfo</servlet-name>
    <url-pattern>/jucaipen/completeinfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/jucaipen/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdatePhone</servlet-name>
    <url-pattern>/jucaipen/changephone</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Regin</servlet-name>
    <url-pattern>/jucaipen/regin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OtherAccountLogin</servlet-name>
    <url-pattern>/jucaipen/thirdlogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OtherAccountList</servlet-name>
    <url-pattern>/jucaipen/getthirdlist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CollectNews</servlet-name>
    <url-pattern>/jucaipen/star</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuerryAttention</servlet-name>
    <url-pattern>/jucaipen/getisattention</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeacherAttention</servlet-name>
    <url-pattern>/jucaipen/addattention</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuerryGuest</servlet-name>
    <url-pattern>/jucaipen/getguest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PlayComment</servlet-name>
    <url-pattern>/jucaipen/getvideocomms</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuerryRewarder</servlet-name>
    <url-pattern>/jucaipen/getmarker</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddReward</servlet-name>
    <url-pattern>/jucaipen/addmarker</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LatestList</servlet-name>
    <url-pattern>/jucaipen/latestlist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AskQuestion</servlet-name>
    <url-pattern>/jucaipen/askquestion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddRemark</servlet-name>
    <url-pattern>/jucaipen/addremark</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/jucaipen/changepassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SendEmail</servlet-name>
    <url-pattern>/jucaipen/getemail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GiftShop</servlet-name>
    <url-pattern>/jucaipen/getgifts</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuerryGiftType</servlet-name>
    <url-pattern>/jucaipen/getgifttype</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MyInvite</servlet-name>
    <url-pattern>/jucaipen/getinvite</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuerryMyGift</servlet-name>
    <url-pattern>/jucaipen/getmygift</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MyGiftRecoder</servlet-name>
    <url-pattern>/jucaipen/getgiftrecoder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuerryPosition</servlet-name>
    <url-pattern>/jucaipen/getposition</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuerryInvestType</servlet-name>
    <url-pattern>/jucaipen/getinvesttype</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuerryMyCollect</servlet-name>
    <url-pattern>/jucaipen/getcollect</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MyAttention</servlet-name>
    <url-pattern>/jucaipen/getattention</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MyGuardian</servlet-name>
    <url-pattern>/jucaipen/getmyguardian</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuerryAccountDetail</servlet-name>
    <url-pattern>/jucaipen/getaccountdetail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangePhone</servlet-name>
    <url-pattern>/jucaipen/changephone</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuerryMyOrder</servlet-name>
    <url-pattern>/jucaipen/getmyorder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BaseKnowType</servlet-name>
    <url-pattern>/jucaipen/getbasetype</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FamousDetailInfo</servlet-name>
    <url-pattern>/jucaipen/getfamousdetail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>KnowledgeDetaile</servlet-name>
    <url-pattern>/jucaipen/getknowdetails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuerryTeacherIdea</servlet-name>
    <url-pattern>/jucaipen/getideaask</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AnswerDetails</servlet-name>
    <url-pattern>/jucaipen/getanswerdetails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TxtDetails</servlet-name>
    <url-pattern>/jucaipen/gettxtdetails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuerryKnowList</servlet-name>
    <url-pattern>/jucaipen/getknowlist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuerryMyBank</servlet-name>
    <url-pattern>/jucaipen/getmybank</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BindBank</servlet-name>
    <url-pattern>/jucaipen/bindbank</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActiveList</servlet-name>
    <url-pattern>/jucaipen/getactivelist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuerryBankList</servlet-name>
    <url-pattern>/jucaipen/getbanklist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuerryCertification</servlet-name>
    <url-pattern>/jucaipen/getcertification</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SignIn</servlet-name>
    <url-pattern>/jucaipen/signin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuerryMySignIn</servlet-name>
    <url-pattern>/jucaipen/getsignin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SendPresent</servlet-name>
    <url-pattern>/jucaipen/givepresent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Recharge</servlet-name>
    <url-pattern>/jucaipen/recharge</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OpenGurdian</servlet-name>
    <url-pattern>/jucaipen/opengurdian</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SendApply</servlet-name>
    <url-pattern>/jucaipen/sendapply</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Report</servlet-name>
    <url-pattern>/jucaipen/report</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuerryTactics</servlet-name>
    <url-pattern>/jucaipen/gettactics</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderTactics</servlet-name>
    <url-pattern>/jucaipen/ordertactics</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestOnLine</servlet-name>
    <url-pattern>/jucaipen/testonline</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FaceUpLoad</servlet-name>
    <url-pattern>/jucaipen/faceupload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PurchGift</servlet-name>
    <url-pattern>/jucaipen/purchgift</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuerryVideoType</servlet-name>
    <url-pattern>/jucaipen/getvideotype</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuerryVideoTeacher</servlet-name>
    <url-pattern>/jucaipen/getvideoteacher</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuerryVideoList</servlet-name>
    <url-pattern>/jucaipen/getvideo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RelateVideo</servlet-name>
    <url-pattern>/jucaipen/getrelatevideo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuerryCurrentStudio</servlet-name>
    <url-pattern>/jucaipen/getcurrentstudio</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuerryTodayStusio</servlet-name>
    <url-pattern>/jucaipen/gettodaystudio</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuerryRebate</servlet-name>
    <url-pattern>/jucaipen/getrebate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuerryMyAsk</servlet-name>
    <url-pattern>/jucaipen/getmyask</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MyChargeRecoder</servlet-name>
    <url-pattern>/jucaipen/getchargerecoder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserBaseInfo</servlet-name>
    <url-pattern>/jucaipen/getuserbaseinfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuerryTeacherInfo</servlet-name>
    <url-pattern>/jucaipen/getbaseteacherinfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuerryMySale</servlet-name>
    <url-pattern>/jucaipen/getmysale</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SolutionDish</servlet-name>
    <url-pattern>/jucaipen/solutiondish</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LastPlay</servlet-name>
    <url-pattern>/jucaipen/getlastplay</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FansList</servlet-name>
    <url-pattern>/jucaipen/getfanslist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AnswerList</servlet-name>
    <url-pattern>/jucaipen/getanswerlist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LiveChat</servlet-name>
    <url-pattern>/jucaipen/getlivechat</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TxtChat</servlet-name>
    <url-pattern>/jucaipen/gettxtchat</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Encourage</servlet-name>
    <url-pattern>/jucaipen/encourage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuerryIsCollect</servlet-name>
    <url-pattern>/jucaipen/getiscollect</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudioChat</servlet-name>
    <url-pattern>/jucaipen/getstudiochat</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuerryIsGradian</servlet-name>
    <url-pattern>/jucaipen/getisgradian</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BindOtherAccount</servlet-name>
    <url-pattern>/jucaipen/bindaccount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadApk</servlet-name>
    <url-pattern>/jucaipen/uploadApk</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServer</servlet-name>
    <url-pattern>/LoginServer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WebPush</servlet-name>
    <url-pattern>/jucaipen/webPush</url-pattern>
  </servlet-mapping>
</web-app>